.services {
  align-items: center;
  background-color: var(--gray-50);
  display: flex;
  min-height: 100vh;
  position: relative;
}

.services .sidebar-instance {
  align-self: stretch !important;
  height: unset !important;
}

.services .icon-instance-node-3 {
  flex: 1 !important;
  flex-grow: 1 !important;
  height: 14px !important;
  position: relative !important;
}

.services .icon-instance-node-4 {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.services .table {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  padding: 16px;
  position: relative;
}

.services .frame-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.services .frame-3 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.services .text-wrapper-3 {
  color: #000000;
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.services .design-component-instance-node-2 {
  flex: 0 0 auto !important;
}

.services .icon-instance-node-5 {
  height: 16px !important;
  position: relative !important;
  width: 16px !important;
}

.services .frame-4 {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--gray-200);
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.services .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
}

.services .div-wrapper {
  align-items: center;
  align-self: stretch;
  background-color: var(--gray-100);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-200);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  gap: 10px;
  height: 30px;
  padding: 10px 16px;
  position: relative;
  width: 100%;
}

.services .text-wrapper-4 {
  color: var(--gray-500);
  font-family: var(--detail-font-family);
  font-size: var(--detail-font-size);
  font-style: var(--detail-font-style);
  font-weight: var(--detail-font-weight);
  letter-spacing: var(--detail-letter-spacing);
  line-height: var(--detail-line-height);
  margin-bottom: -4.00px;
  margin-top: -6.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.services .frame-6 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-200);
  display: flex;
  gap: 10px;
  height: 60px;
  padding: 14px 16px;
  position: relative;
  width: 100%;
}

.services .text-wrapper-5 {
  color: var(--gray-800);
  font-family: var(--subtle-font-family);
  font-size: var(--subtle-font-size);
  font-style: var(--subtle-font-style);
  font-weight: var(--subtle-font-weight);
  letter-spacing: var(--subtle-letter-spacing);
  line-height: var(--subtle-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.services .frame-7 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.services .text-wrapper-6 {
  color: var(--gray-500);
  flex: 1;
  font-family: var(--detail-font-family);
  font-size: var(--detail-font-size);
  font-style: var(--detail-font-style);
  font-weight: var(--detail-font-weight);
  letter-spacing: var(--detail-letter-spacing);
  line-height: var(--detail-line-height);
  margin-bottom: -4.00px;
  margin-top: -6.00px;
  position: relative;
  text-align: right;
}

.services .text-wrapper-7 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--gray-800);
  display: -webkit-box;
  flex: 1;
  font-family: var(--subtle-font-family);
  font-size: var(--subtle-font-size);
  font-style: var(--subtle-font-style);
  font-weight: var(--subtle-font-weight);
  letter-spacing: var(--subtle-letter-spacing);
  line-height: var(--subtle-line-height);
  overflow: hidden;
  position: relative;
  text-align: right;
  text-overflow: ellipsis;
}

.services .frame-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 106px;
}

.services .frame-9 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--gray-200);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 14px 16px;
  position: relative;
  width: 100%;
}

.services .button-instance {
  background-color: var(--blue-50) !important;
  border-color: var(--blue-100) !important;
  flex: 0 0 auto !important;
}

.services .button-2 {
  background-color: var(--rose-50) !important;
  border-color: var(--rose-100) !important;
  flex: 0 0 auto !important;
}

.services .paginao {
  align-self: stretch !important;
  width: 100% !important;
}
